body {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: center;
  background-color: white;
  margin: 0px;
}

.logo {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 60px;
  width: 60px;
}

.lag_box {
  margin-top: 50px;
  align-items: center;
  text-align: center;
  background-color: transparent;
  height: 100%;
  width: 100%;
  opacity: 0%;
  transition-property: opacity , color;
  transition-duration: 0.4s;


}
.btn_box {
  margin-top: 50px;
  background-color: transparent;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ############################################## */
/* bottons */
.arab_btn_box {
  opacity: 0%;
  position: relative;
  margin-right: 30px;
  padding-top: 1px;
  text-align: center;
  background-color: transparent;
  height: 50px;
  width: 100px;
  border-radius: 40px;
  border-style: dotted;
  border-color: #50c8ee;
  border-width: 2px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.347);
  transition-property: opacity ;
  transition-duration: 0.4s;
}

.eng_btn_box {
  opacity: 0%;
  position: relative;
  padding-top: 1px;
  text-align: center;
  background-color: transparent;
  height: 50px;
  width: 100px;
  border-radius: 40px;
  border-width: 2px;
  border-style: dotted;
  border-color: #50c8ee;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.347);
  transition-property: opacity ;
  transition-duration: 0.4s;
}
.text {
  font-size: 16px;
  color: #e91268;
  font-family: "Times New Roman", Times, serif;
}
/* ############################################## */
/* ############################################## */
/* Animations */
.lang_box_animation {
  opacity: 100%;
  color:#50c8ee;
}
.arab {
  opacity: 100%;
}
.eng {
  opacity: 100%;

}

/* ############################################## */
@media screen and (min-width: 820px) {
  .medical_equipment_box {
    background-color: white;

    height: 400px;
  }
  .nurse_box {
    margin-left: 40px;
    height: 400px;
  }
}
@media screen and (max-width: 821px) {
  .medical_equipment_box {
    margin-left: 0px;
  }
  .nurse_box {
    margin-top: 20px;
  }
}
