body {
  margin: 0px;
}
/* .nav_bar {
  background-color: black;
  height: 100px;
  padding-top: 20px;
} */
.logo {
  background-color: wheat;
  height: 50px;
  width: 50px;
  color: black;
  text-align: center;
}
.language {
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: transparent;
  height: 50px;
  width: 50px;
  color: black;
  text-align: center;
}
.one {
  position: absolute;
  left: 20px;
  background-color: red;
  height: 45px;
  width: 170px;
  border-radius: 10px;
  margin-top: 20px;
  left: -2000px;
  transition-property: left;
  transition-duration: 0.6s;

  text-align: center;
}

.one_float {
  left: 20px;
}
.two {
  position: absolute;
  right: -2000px;
  background-color: red;
  height: 45px;
  width: 170px;
  border-radius: 10px;
  margin-top: 20px;
  transition-property: right;
  transition-duration: 0.6s;
  text-align: center;

}

.two_float {
  right: 20px;
}

.three {
  position: absolute;
  top: 120px;
  left: -2000px;
  background-color: red;
  height: 45px;
  width: 170px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;

  transition-property: left;
  transition-duration: 0.6s;
}
.three_float {
  left: 20px;
}

.four {
  position: absolute;
  top: 120px;
  right: -2000px;
  background-color: red;
  height: 45px;
  width: 170px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;

  transition-property: right;
  transition-duration: 0.6s;
}
.four_float {
  right: 20px;
}

.five {
  position: absolute;
  top: 200px;
  left: -2000px;
  background-color: red;
  height: 45px;
  width: 170px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;

  transition-property: left;
  transition-duration: 0.6s;
}
.five_float {
  left: 20px;
}

.six {
  position: absolute;
  top: 200px;
  right: -2000px;
  background-color: red;
  height: 45px;
  width: 170px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;

  transition-property: right;
  transition-duration: 0.6s;
}
.six_float {
  right: 20px;
}

.item_txt{
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.startbtn {
  margin: 0 auto;
  position: none;
  margin-top: 200px;
  text-align: center;
  border-radius: 50px;
  background-color: white;
  height: 100px;
  width: 100px;
  border-style: dotted;
  border-color: rgb(0, 123, 255);
  transition-property: margin-top, top;
  transition-duration: 0.4s;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.347);
}

.start_btn_animate {
  top: 10px;
  margin-top: -100px;
}
.txt_show {
  margin-top: 40px;
  font-size: 20px;
  color: rgb(0, 123, 255);
  transition-property: margin-top;
  transition-duration: 0.2s;
}

.txt_animated_show {
  margin-top: 60px;
}
.toggle_eng {
  background-color: pink;
  height: 40px;
  width: 50px;
  position: absolute;
  right: 50px;
  top: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-style: dotted;
}

.toggle_arab {
  background-color:white;
  height: 40px;
  width: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: dotted;
  border-color: rgb(0, 123, 255);
}
.lang_txt{
  margin-top: 11px;
  color: rgb(0, 123, 255);
}
