.container_box {
  margin-top: 20px;
  background-color: transparent;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.nurse_box {
  display: inline-block;
  height: 200px;
  width: 350px;
  background-color: white;
  border-color: #e91268;
  border-radius: 40px;
  border-style: dotted;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.347);
  border-width: 1px;

}

.logo {
  background-color: transparent;
  height: 60px;
  width: 60px;
  color: white;
  text-align: center;
}
.title {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  color: #e91268;
}
img {
  width: 350px;
  height: 150px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.explore_btn {
  float: right;
  width: 100px;
  height: 25px;
  background-color: white;
  margin-right: 20px;
  margin-top: 5px;
  color: white;
  border-radius: 50px;
  border-width: 2px;
  border-color: #e91268;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.347);
  border-style: dotted;
}
.expore_txt {
  color: #e91268;
  margin-top: 3px;
}

@media screen and (min-width: 820px) {
  .medical_equipment_box {
    background-color: white;

    height: 400px;
  }
  .nurse_box {
    margin-left: 40px;
    height: 400px;
  }
}
@media screen and (max-width: 821px) {
  .medical_equipment_box {
    margin-left: 0px;
  }
  .nurse_box {
    margin-top: 20px;
  }
}
