body {
  text-align: center;
  margin: 0px;

}

.nav_bar {
  background-color: white;
  height: 70px;
  position: fixed;width: 100%;
  top: 0px;
}


.buttons{

float: right;
  width: 140px;
  height: 50px;
  background-color: red;
  border-radius: 40px;
  margin-top: 10px;
  margin-right: 15px;
  text-align: center;
  
  

}

.buttons:hover{


  background-color: rgb(118, 137, 137);
}

.btn-text{
  position: relative;
  bottom: 1px;
color: white;
}

.btns{
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: red;
  width: 70px;
  height: 60px;
  border-radius: 20px;
  border: 0px;
  color: white;
  


}

.btns:hover{


  background-color: rgb(211, 186, 139);
}

